<div class="left_nav">
  <style>
    .side-link {
      text-decoration: none;
      color: white;
      font-size: 1.2em;
    }
    .side-link:hover {
      color: black;
      cursor: pointer;
    }
  </style>
  <ul class="left_nav-comp">
    <li class="left_nav-li sub1">
      <a href="/teacher/dashboard" class="side-link">Dashboard</a>
    </li>
    <li class="left_nav-li sub2"><a href="" class="side-link">Student</a></li>
    <li class="left_nav-li sub3"><a href="" class="side-link">Host Exam</a></li>
    <li class="left_nav-li sub4">
      <a href="" class="side-link">Profile Setting</a>
    </li>
  </ul>
</div>
