<div class="left_nav">
  <ul class="left_nav-comp">
    <li class="left_nav-li sub1">Dashboard</li>
    <li class="left_nav-li sub2">Student</li>
    <li class="left_nav-li sub3">Host Exam</li>
    <li class="left_nav-li sub4">Profile Setting</li>
  </ul>
</div>
