<%-include('admin/partials/header')%>
    <link rel="icon" href="/assets/images/key.svg" />

    <title>Student-Entry</title>

    <link
      rel="canonical"
      href="https://getbootstrap.com/docs/4.0/examples/sign-in/"
    />

    <!-- Bootstrap core CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <!-- Custom styles for this template -->
    <link href="/css/signin.css" rel="stylesheet" />
  </head>

  <body class="text-center">
    <form class="form-signin" action="/student/key" method="POST">
      <i class="fas fa-key fa-5x" style="display: inline-block;"></i>

      <!-- <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72"> -->
      <h1 class="h1 mb-3 font-weight-normal" style="display: inline-block;">Enter Key</h1>
      
      <p class="mb-3 font-weight-normal incorrect"><%=error%></p>
      <label for="inputPassword" class="sr-only">Unique Key</label>
      <input
        type="password"
        id="inputPassword"
        class="form-control"
        placeholder="enter invitation key"
        name="uniqueKey"
        style="margin-top: 15px;margin-bottom: 15px;"
        required
      />
      <!-- <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me" /> Remember me
        </label>
      </div> -->
      <input type="text" value="<%=inviteId%>" name="inviteId" hidden>
      <button class="btn btn-lg btn-primary btn-block" type="submit">
        Enter
      </button>
      <p class="mt-5 mb-3 text-muted">&copy; 2021-2022</p>
    </form>
  </body>
</html>
