<section id="sidebar">
  <div class="sidenav">
    <div class="sidenav-links">
      <a class="side-link dashboard" href="/admin/dashboard">Dashboard</a>
      <a class="side-link invitations" href="/admin/teacher/invitations"
        >Invitations</a
      >
      <a class="side-link add-user" href="/admin/add-user">Add User </a>
      <a class="side-link student" href="/admin/students">Student</a>
      <a class="side-link admin-section" href="">Admins Section</a>
    </div>
  </div>
</section>
